@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');
:root
{
    --bg-color:#0e2453;
    --max-width:1600px;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: var(--bg-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Hind Siliguri', sans-serif;
}

header
{
    background-color: var(--bg-color);
    width: 100vw;
    overflow: hidden;
    padding: 10px 20px 0 20px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav_container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    padding: 0 20px;
    color: antiquewhite;
}
.nav_bar>ul{
    display: flex;
    justify-content: space-around;
    gap: 6rem;
}

.nav_bar>ul>li{
    list-style: none;
}

.nav_bar>ul>li>a{
    position: relative;
    color: #fff;
    text-decoration: none;
}
.nav_bar>ul>li>a::after
{
    content: "";
    position: absolute;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transition: 0.3s;
}
.nav_bar>ul>li>a:hover::after
{
    width: 60%;
    
}



#page
{   
    
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    background-color: var(--bg-color);
    color: #fff;
    padding: 0 50px;
}


#btn
{
    border:none;
    background-color: white;
    padding: 5px;
    border-radius: 10px;

}

#btn a{
    color: var(--bg-color);
    font-weight: bold;
    text-decoration: none;
}
#page>img{
    margin-left: 6rem;
    padding: 2px;
    width: 50%;
    border-radius: 60%;
    border: 2px solid whitesmoke;
}

#page1,#page2,#page3
{
    padding-top: 20px;
    background-color: #ffffffe3;
}

.section_header
{
    text-align: center;
    color:var(--bg-color);
    padding: 1rem;
    position: relative;
    padding-top: 55px;
}


.section_header::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #2ecc71;
    border-radius: 20px;
}


.section_container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.section_box
{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
    background-color: var(--bg-color);
    margin-top: 20px;
}
.section_box:hover .img{
    transform: translateY(-10px);
}
.section_box:hover .skill_title::after,.section_box:hover .skill_title::before
{
    width: 35px;
}

.skill_title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill_title::after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71 ;
    transition: .5s;
}


.skill_title::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71 ;
    transition: .5s;
}
.img
{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.skill_icon
{
    width: 50px;
}

.skill_title h3{
    color: #fff;
    margin-top: 0.5rem;
}

.project_img img
{
    width: 250px;
    height: 150px;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.603);
}



.project_box a{
    text-decoration: none;
    color: #fff;
}

.project_box a:hover
{
    text-decoration: underline;
    color:green;
}

.project_box:hover
{
    transform: scale(1.2,1.2);
    transition: 1s;
}


.contact_container
{
    color: var(--bg-color);
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.contact_box a
{
    color: var(--bg-color);
    margin-left: 50px;
}



@media screen and (max-width:990px) {
    .section_container
    {
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 50px;
    }    

}


@media screen and (max-width:650px) {
    
    #page
    {
        grid-template-columns: 1fr ;
        margin-bottom: 3rem;
    }
    #page>img
    {
        grid-area: 1/1/2/2;
        width: 80%;
        margin-top: 5rem;
        margin-left: 20px;
    }
    .section_container
    {
        grid-template-columns: 1fr;
    }    
}
